doctype html
html
  head
    title= title
    script(src='javascripts/script.js')
  body
    h1 WASM TEST
    p client wasm : #[span#wasm]
    p server wasm : #[span#api]
    p client js : #[span#js]

